.listStyle{
   list-style: none;
   margin-bottom: 8px;  
}
.itemRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttonStyle{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}
.Btn-concluir{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  cursor: pointer;
} 
.Btn-concluir:hover {
  background-color: #45a049; /* Darker green */
}
.Btn-remover{
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}
.Btn-remover:hover {
  background-color: #da190b; /* Darker red */
}
.concluido{
  text-decoration: line-through;
}